##
# .htaccess
#
# (C) 2025 by Eylem Ugurel
#
# Licensed under a Creative Commons Attribution 4.0 International License.
#
# You should have received a copy of the license along with this work. If not,
# see <http://creativecommons.org/licenses/by/4.0/>.
##

<IfModule mod_rewrite.c>
  RewriteEngine On

  # e.g., `api/foo/bar` → `api.php?handler=foo&action=bar`
  RewriteRule ^api/([^/]+)/([^/]+)/?$ api.php?handler=$1&action=$2 [QSA,L]
</IfModule>
