##
# .htaccess
#
# (C) 2025 by Eylem Ugurel
#
# Licensed under a Creative Commons Attribution 4.0 International License.
#
# You should have received a copy of the license along with this work. If not,
# see <http://creativecommons.org/licenses/by/4.0/>.
##

<IfModule mod_headers.c>
  Header set X-Frame-Options DENY
  Header set X-Content-Type-Options nosniff
  Header set X-XSS-Protection "1; mode=block"
  Header unset Server
  Header unset X-Powered-By
  Header set Content-Security-Policy "\
    default-src 'self';\
    script-src 'self' https://accounts.google.com/gsi/client;\
    style-src 'self' 'unsafe-inline' https://accounts.google.com/gsi/style;\
    img-src 'self' data:;\
    font-src 'self';\
    connect-src 'self' https://accounts.google.com/gsi/;\
    object-src 'none';\
    frame-src https://accounts.google.com/gsi/;\
    form-action 'self';\
    frame-ancestors 'none';\
    base-uri 'self';\
  "
</IfModule>

Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  # e.g., `api/account/login` → `api.php?handler=account&action=login`
  RewriteRule ^api/([^/]+)/([^/]+)/?$ api.php?handler=$1&action=$2 [QSA,L]

  # e.g., `pages/error/403` → `pages/error/?statusCode=403`
  RewriteRule ^pages/error/([0-9]+)/?$ pages/error/?statusCode=$1 [L]

  # e.g., `pages/activate-account/abc123...` → `pages/activate-account/?code=abc123...`
  RewriteRule ^pages/activate-account/([a-f0-9]{64})/?$ pages/activate-account/?code=$1 [L]

  # e.g., `pages/reset-password/abc123...` → `pages/reset-password/?code=abc123...`
  RewriteRule ^pages/reset-password/([a-f0-9]{64})/?$ pages/reset-password/?code=$1 [L]
</IfModule>
